/* .body {
    height: 600px;
    margin: 0;
    display: grid;
    grid-template-rows: 500px 100px;
    grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
    align-items: center;
    justify-items: center;
  }
  
  main#carousel {
    grid-row: 1 / 2;
    grid-column: 1 / 8;
    width: 100vw;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 600px;
    --items: 5;
    --middle: 3;
    --position: 1;
    pointer-events: none;
    
  }
  
  div.item {
    position: absolute;
    width: 300px;
    height: 400px;
    background-color: coral;
    --r: calc(var(--position) - var(--offset));
    --abs: max(calc(var(--r) * -1), var(--r));
    transition: all 0.25s linear;
    transform: rotateY(calc(-10deg * var(--r)))
      translateX(calc(-300px * var(--r)));
    z-index: calc((var(--position) - var(--abs)));
  }
  
  div.item:nth-of-type(1) {
    --offset: 1;
    background-color: #90f1ef;
  }
  div.item:nth-of-type(2) {
    --offset: 2;
    background-color: #ff70a6;
  }
  div.item:nth-of-type(3) {
    --offset: 3;
    background-color: #ff9770;
  }
  div.item:nth-of-type(4) {
    --offset: 4;
    background-color: #ffd670;
  }
  div.item:nth-of-type(5) {
    --offset: 5;
    background-color: #e9ff70;
  }
  
  input:nth-of-type(1) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  input:nth-of-type(1):checked ~ main#carousel {
    --position: 1;
  }
  
  input:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }
  input:nth-of-type(2):checked ~ main#carousel {
    --position: 2;
  }
  
  input:nth-of-type(3) {
    grid-column: 4 /5;
    grid-row: 2 / 3;
  }
  input:nth-of-type(3):checked ~ main#carousel {
    --position: 3;
  }
  
  input:nth-of-type(4) {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
  }
  input:nth-of-type(4):checked ~ main#carousel {
    --position: 4;
  }
  
  input:nth-of-type(5) {
    grid-column: 6 / 7;
    grid-row: 2 / 3;
  }
  input:nth-of-type(5):checked ~ main#carousel {
    --position: 5;
  }
   */

/* 
   
   .slider {
    width: 100%;
    top: calc(50% - 97.25px);
    overflow: hidden;
}
.slider .slider-row {
    width: 2956px;
    height: 300.5px;
    background-size: 2956px 400.5px;
    animation: slide 50s linear infinite;
}
@keyframes slide {
    from {
        background-position-x: 0;
   }
    to {
        background-position-x: -2956px;
   }
} */



 :root {
	 --card-width: 200px;
	 --card-height: 300px;
	 --card-transition-duration: 800ms;
	 --card-transition-easing: ease;
}
 @media only screen and (min-width: 800px) {
	 :root {
		 --card-width: 250px;
		 --card-height: 400px;
	}
}
 * {
	 box-sizing: border-box;
	 margin: 0;
	 padding: 0;
}
 .exhi-app {
	 width: 100%;
	 height: 100vh;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 background: rgba(0, 0, 0, 0.2);
	 overflow: hidden;
}
 .exhi-app .exhi-container {
	 position: relative;
	 width: 100%;
	 height: 100%;
	 display: flex;
	 justify-content: center;
	 align-items: center;
}
 .app__bg {
	 position: absolute;
	 width: 100%;
	 height: 100%;
	 z-index: -5;
	 pointer-events: none;
	 user-select: none;
	 overflow: hidden;
}
 .app__bg::before {
	 content: "";
	 position: absolute;
	 left: 0;
	 top: 0;
	 width: 100%;
	 height: 100%;
	 background: #000;
	 z-index: 1;
	 opacity: 0.8;
}
 .app__bg .app__bg__image {
	 position: absolute;
	 left: 50%;
	 top: 50%;
	 transform: translate(-50%, -50%) translateX(var(--image-translate-offset, 0));
	 width: 180%;
	 height: 180%;
	 transition: transform 1000ms ease, opacity 1000ms ease;
	 overflow: hidden;
}
 .app__bg .app__bg__image img {
	 width: 100%;
	 height: 100%;
	 object-fit: cover;
}
 .app__bg .app__bg__image.current--image {
	 opacity: 1;
	 filter: blur(4px);
	 --image-translate-offset: 0;
}
 .app__bg .app__bg__image.previous--image, .app__bg .app__bg__image.next--image, .app__bg .app__bg__image.leftmost--image, .app__bg .app__bg__image.leftsecond--image, .app__bg .app__bg__image.rightmost--image, .app__bg .app__bg__image.rightsecond--image {
	 opacity: 0;
	 filter: blur(4px);
}
 .app__bg .app__bg__image.previous--image {
	 --image-translate-offset: -25%;
}
 .app__bg .app__bg__image.next--image {
	 --image-translate-offset: 25%;
}
 .app__bg .app__bg__image.leftsecond--image {
	 --image-translate-offset: -25%;
}
 .app__bg .app__bg__image.leftmost--image {
	 --image-translate-offset: -25%;
}
 .app__bg .app__bg__image.rightsecond--image {
	 --image-translate-offset: 25%;
}
 .app__bg .app__bg__image.rightmost--image {
	 --image-translate-offset: 25%;
}
 .cardList {
	 position: absolute;
	 width: calc(3 * var(--card-width));
	 height: auto;
}
 .cardList button.cardList__btn {
	 border: none;
	 background: none;
	 cursor: pointer;
}
 .cardList button.cardList__btn:focus {
	 outline: none;
	 border: none;
}
 .cardList .cardList__btn {
	 --btn-size: 35px;
	 width: var(--btn-size);
	 height: var(--btn-size);
	 position: absolute;
	 top: 50%;
	 transform: translateY(-50%);
	 z-index: 2;
}
 .cardList .cardList__btn::after {
	 position: absolute;
	 content: "";
	 height: 100%;
	 width: 100%;
	 border-radius: 50%;
	 z-index: -1;
}
 .cardList .cardList__btn:hover::after {
	 background-color: rgba(232, 234, 237, 0.1);
}
 .cardList .cardList__btn:active::after {
	 background-color: rgba(232, 234, 237, 0.2);
}
 .cardList .cardList__btn.btn--left {
	 left: -9%;
}
 .cardList .cardList__btn.btn--left::after {
	 top: 0px;
	 right: -2px;
}
 .cardList .cardList__btn.btn--right {
	 right: -9%;
}
 .cardList .cardList__btn.btn--right::after {
	 top: 0px;
	 right: 1px;
}
 @media screen and (max-width: 450px) {
	 .cardList .cardList__btn.btn--left {
		 left: 15%;
	}
	 .cardList .cardList__btn.btn--right {
		 right: 15%;
	}
}
 .cardList .cardList__btn .icon {
	 width: 100%;
	 height: 100%;
}
 .cardList .cardList__btn .icon svg {
	 width: 100%;
	 height: 100%;
}
 .cardList .cards__wrapper {
	 position: relative;
	 width: 100%;
	 height: 100%;
	 perspective: 1000px;
}
 .cardList .cards__wrapper .card {
	 --card-translateY-offset: 100vh;
	 position: absolute;
	 left: 50%;
	 top: 50%;
	 transform: translate(-50%, -50%) translateX(var(--card-translateX-offset)) translateY(var(--card-translateY-offset)) rotateY(var(--card-rotation-offset)) scale(var(--card-scale-offset));
	 display: inline-block;
	 width: var(--card-width);
	 height: var(--card-height);
	 transition: transform var(--card-transition-duration) var(--card-transition-easing);
	 user-select: none;
}
 .cardList .cards__wrapper .card::before {
	 content: "";
	 position: absolute;
	 left: 0;
	 top: 0;
	 width: 100%;
	 height: 100%;
	 background: #000;
	 z-index: 1;
	 transition: opacity var(--card-transition-duration) var(--card-transition-easing);
	 opacity: calc(1 - var(--opacity));
}
 .cardList .cards__wrapper .card .card__image {
	 position: relative;
	 width: 100%;
	 height: 100%;
}
 .cardList .cards__wrapper .card .card__image img {
	 position: absolute;
	 left: 0;
	 top: 0;
	 width: 100%;
	 height: 100%;
	 object-fit: cover;
}
 .cardList .cards__wrapper .card.current--card {
	 --current-card-rotation-offset: 0;
	 --card-translateX-offset: 0;
	 --card-rotation-offset: var(--current-card-rotation-offset);
	 --card-scale-offset: 1.2;
	 --opacity: 0.8;
}
 .cardList .cards__wrapper .card.previous--card {
	 --card-translateX-offset: calc(-1 * var(--card-width) * 1.1);
	 --card-rotation-offset: 25deg;
}
 .cardList .cards__wrapper .card.next--card {
	 --card-translateX-offset: calc(var(--card-width) * 1.1);
	 --card-rotation-offset: -25deg;
}
 .cardList .cards__wrapper .card.previous--card, .cardList .cards__wrapper .card.next--card {
	 --card-scale-offset: 0.9;
	 --opacity: 0.4;
}
 .cardList .cards__wrapper .card.leftsecond--card {
	 --card-translateX-offset: calc(-1 * var(--card-width) * 2.2);
	 --card-rotation-offset: -10deg;
}
 .cardList .cards__wrapper .card.rightsecond--card {
	 --card-translateX-offset: calc(1 * var(--card-width) * 2.2);
	 --card-rotation-offset: 10deg;
}
 .cardList .cards__wrapper .card.leftsecond--card, .cardList .cards__wrapper .card.rightsecond--card {
	 --card-scale-offset: 0.84;
	 --opacity: 0.4;
}
 .cardList .cards__wrapper .card.leftmost--card {
	 --card-translateX-offset: calc(-1 * var(--card-width) * 3.4);
	 --card-rotation-offset: -10deg;
}
 .cardList .cards__wrapper .card.rightmost--card {
	 --card-translateX-offset: calc(1 * var(--card-width) * 3.4);
	 --card-rotation-offset: 10deg;
}
 .cardList .cards__wrapper .card.leftmost--card, .cardList .cards__wrapper .card.rightmost--card {
	 --card-scale-offset: 0.74;
	 --opacity: 0.4;
}
 .infoList {
	 position: absolute;
	 width: calc(3 * var(--card-width));
	 height: var(--card-height);
	 pointer-events: none;
	 user-select: none;
}
 .infoList .info__wrapper {
	 position: relative;
	 width: 100%;
	 height: 100%;
	 display: flex;
	 justify-content: flex-start;
	 align-items: flex-end;
	 perspective: 1000px;
	 transform-style: preserve-3d;
}
 .infoList .info__wrapper .info {
	 margin-bottom: calc(var(--card-height) / 8);
	 margin-left: calc(var(--card-width) / 1.5);
	 margin-right: calc(var(--card-width) / 1.5);
	 transform: translateZ(2rem);
	 transition: transform var(--card-transition-duration) var(--card-transition-easing);
}
 .infoList .info__wrapper .info .text {
	 position: relative;
	 font-family: "Montserrat";
	 font-size: calc(var(--card-width) * var(--text-size-offset, 0.2));
	 white-space: nowrap;
	 color: #fff;
	 width: fit-content;
}
 .infoList .info__wrapper .info .name, .infoList .info__wrapper .info .year {
	 text-transform: uppercase;
	 white-space: pre-line;
	 text-align: left;
}
 .infoList .info__wrapper .info .year {
	 --mg-left: 40px;
	 --text-size-offset: 0.12;
	 font-weight: 600;
	 margin-left: var(--mg-left);
	 margin-bottom: calc(var(--mg-left) / 2);
	 padding-bottom: 0.8rem;
}
 .infoList .info__wrapper .info .year::before, .infoList .info__wrapper .info .year::after {
	 content: "";
	 position: absolute;
	 background: #fff;
	 left: 0%;
	 transform: translate(calc(-1 * var(--mg-left)), -50%);
}
 .infoList .info__wrapper .info .year::before {
	 top: 40%;
	 width: 20px;
	 height: 5px;
}
 .infoList .info__wrapper .info .year::after {
	 bottom: 0;
	 width: 60px;
	 height: 2px;
}
 .infoList .info__wrapper .info .painter {
	 --text-size-offset: 0.065;
	 font-weight: 500;
	 white-space: pre-line;
}
 .infoList .info__wrapper .info .museum {
	 --text-size-offset: 0.065;
	 font-weight: 500;
	 white-space: pre-line;
	 margin-top: 10px;
}
 .infoList .info__wrapper .info.current--info {
	 opacity: 1;
	 display: block;
}
 .infoList .info__wrapper .info.previous--info, .infoList .info__wrapper .info.next--info, .infoList .info__wrapper .info.leftmost--info, .infoList .info__wrapper .info.leftsecond--info, .infoList .info__wrapper .info.rightmost--info, .infoList .info__wrapper .info.rightsecond--info {
	 opacity: 0;
	 display: none;
}
 .loading__wrapper {
	 position: fixed;
	 left: 0;
	 top: 0;
	 width: 100%;
	 height: 100%;
	 display: flex;
	 flex-direction: column;
	 justify-content: center;
	 align-items: center;
	 background: #000;
	 z-index: 200;
}
 .loading__wrapper .loader--text {
	 color: #fff;
	 font-family: "Montserrat";
	 font-weight: 500;
	 margin-bottom: 1.4rem;
}
 .loading__wrapper .loader {
	 position: relative;
	 width: 200px;
	 height: 2px;
	 background: rgba(255, 255, 255, 0.25);
}
 .loading__wrapper .loader span {
	 position: absolute;
	 left: 0;
	 top: 0;
	 width: 100%;
	 height: 100%;
	 background: red;
	 transform: scaleX(0);
	 transform-origin: left;
}
 .support {
	 position: absolute;
	 right: 10px;
	 bottom: 10px;
	 padding: 10px;
	 display: flex;
}
 .support a {
	 margin: 0 10px;
	 color: #fff;
	 font-size: 1.8rem;
	 backface-visibility: hidden;
	 transition: all 150ms ease;
}
 .support a:hover {
	 transform: scale(1.1);
}
 