* {
    margin: 0;
    padding: 0;
}
body{
    background: #051923;
}
h1{
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 3.3rem;
    background: #125a7e;
    width: 40%;
    margin: 10px auto;
    border-radius: 15px;
}
a{
    text-align: center;
    
}
button{
    padding: 5px;
    font-size: 1.2rem;
    background: #125a7e;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
.kozep {
    margin: auto;
    text-align: center;
}
.kozep button:hover{
    background: #003554;
}