* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html {
    font-size: 16px;
  }
  body {
    background-image: url(../img/blueWallpapper.jpg);
    background-attachment: fixed;
    background-size: cover;
    font-family: futura-pt, sans-serif;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
  #container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: auto;
    min-height: 600px;
    padding: 20px;
  }
  .form-box {
    width: 100%;
    max-width: 600px;
    padding: 30px 15px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5);

  }
  .c-form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .c-form-label {
    display: inline-block;
    margin: .5rem 0;
    color: white;
    letter-spacing: .2px;
    font-size: 1rem;
  }
  .c-form-input {
    width: 100%;
    padding: 15px 10px;
    border: 1px solid #3d3935;
    border-radius: 4px;
    background-color: #fff;
    color: #3d3935;
    outline: 0;
    
  }
  .c-form-input:focus{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: #0582CA;
    color: white;
  }
  .c-form-input:valid{
    background: #0582CA;
  }
  .c-form-input:focus:invalid{
    background: red;
  }
  .c-form-input::placeholder {
    color: #867d6c;
    font-size: 1rem;
  }
  .c-form-required {
    color: #b0092d;
  }
  textarea.c-form-input {
    width: 100%;
    min-height: 10ch;
    max-height: 120ch;
    padding: 10px;
    resize: none;
  }
  .two-columns {
    display: grid;
    grid-template-columns: 100%;
  }
  fieldset {
    margin: .4rem 0;
    padding: 0;
    border: none;
  }
  .c-form-btn {
    width: 100%;
    margin-top: 10px;
    padding: 15px;
    border: none;
    border-radius: 4px;
    color: white;
    border: 2px solid black;
    background: #051923;
    font-size: 1.125rem;
    letter-spacing: 2px;
    text-align: center;
    outline: none;
    cursor: pointer;
  }
  .c-form-btn:hover{
    background: #003554;
  }
  @media screen and (min-width: 481px) {
    .two-columns {
      grid-template-columns: 48.7804878% 48.7804878%;
      grid-column-gap: 2.43902439%;
    }
  }




.login-section .c-form.register{
    transform: translateX(1500px);
    transition: transform .6s ease;
    transition-delay: 0s;
}
.login-section.active .c-form.register{
    transform: translateX(0px);
    transition-delay: .7s;
}

.login-section .c-form.login{
    transform: translateX(0px);
    transition: transform .6s ease;
    transition-delay: 0.7s;
}
.login-section.active .c-form.login{
    transform: translateX(1500px);
    transition-delay: 0s;
}

.veglegesitesTermek{
  text-align:center;
  color: white;
  font-size: 1.4rem;
  padding-bottom: 1.6rem;
}
#torles{
  background: #003554;
  color: red;
}
#torles:hover{
  background: #0582CA;
  
}