.grid-container {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
}

.kep {
    max-width: 250px;
}

.adat {
    font-weight: bold;
    color: white;
}

.leiras{
    color: white;
    text-align: justify;
}
.kosar{
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    margin: 10px;
    color: white;
    text-align: center;
    font-size: 36px;
}

.kosarba{
    padding: 10px;
    font-size: 24px;
    margin: 10px;
    color: white;
    background-color: #006494;
    border: none;
    border-radius: 10px;
}




@media(max-width: 574px) {
    .grid-container {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: auto;
    }
}