@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    background-image: url(../../img/wallpaper.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.container{
    margin: auto;
    background-color: rgba(23, 104, 144, 0.75);
    border-radius: 20px;
    padding: 10px;
    max-width: 500px;
}
img{
    max-width: 500px;
    width: 100%;
}
select {
    background: #003554;
    color: white;
    padding: 3px;
}
input {
    background: #003554;
    color: white;
    padding: 3px;
}

#rendben {
    padding: 7px;
    cursor: pointer;
    border-radius: 5px;
}
#rendben:hover{
    background: #051923; 
}
a{
    color: #003554;
    text-decoration: none;
    background: #003554;
    padding: 10px;
    color: white;
    border-radius: 5px;
    border: 2px solid black;
    font-size: 0.8rem;
}
a:hover{
    background: #051923; 
}
textarea{
    background: #003554;
    color: white;
    resize: none;
}
details{
    text-align: center;
}
.gyKtable {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
summary {
    margin: 10px;
    color: white;
}
summary::marker{
    color: #051923;
}
.gyKtable th{
    background: #001e30;
    padding: 10px;
}
.gyKtable td{
    padding: 10px;
    border: 2px solid black;
}
.gyKtable th {
    border-top-left-radius: 10px;
}
.gyKtable tr:nth-child(odd) {
    background-color: #001e30;
    color: white;
  }