@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    background-image: url(../../img/wallpaper.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.container{
    margin: auto;
    background-color: rgba(23, 104, 144, 0.75);
    border-radius: 20px;
    padding: 10px;
    max-width: 500px;
}
img{
    max-width: 500px;
    width: 100%;
}
