.gombok a button{
    padding: 10px;
    border: 1px #051923 solid;
    border-radius: 10px;
    background-color: #051923;
    font-weight: bold;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.gombok a button:hover{
    background-color: #0582ca;
}

.gombok{
    text-align: center;
    color: white;
}

.gomboks{
    padding: 5px;
    margin: 5px;
    border: 1px #051923 solid;
    border-radius: 10px;
    background-color: #051923;
    font-weight: bold;
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.gomboks:hover{
    background-color: #0582ca;
}
form {
    text-align: center;
    padding: 20px;
}
form input {
    background: #003554;
    font-size: 1.3rem;
    color: white;
    padding: 4px;
    width: 400px;    
    border-radius: 5px;
}
