table{
    padding: 10px;
    margin: auto;
    border-radius: 10px;
}

th{
    border-top-left-radius: 10px;
}

td, th{
    border: 1px solid #001e30;
    text-align: center;
    padding: 5px;
}

th{
    background-color: #001e30;
    color: white;
}

td{
    color: white;
}

table img {
    width: 200px;
    height: 120px;
}
tr:nth-child(odd) {
    background-color: #001e30;
    color: white;
  }

  .tulajdonsagok th {
    /* display: flex;
    flex-direction: row; */
    text-align: left;
  }

.tulajdonsagok img {
    height: 15px;
    width: 15px;
    padding-right: 10px;
    margin-top: 6px;
}

html::-webkit-scrollbar {
    width: .8rem;
}
html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5rem;
}