table{
    padding: 10px;
    margin: auto;
    overflow-x:auto;
    width: 80%;
    border-radius: 10px;
}

th{
    border-top-left-radius: 10px;
}

td, th{
    border: 1px solid #001e30;
    text-align: center;
    padding: 5px;
}

th{
    background-color: #001e30;
    color: white;
}

td{
    color: white;
}

table img {
    width: 200px;
    height: 120px;
}
tr:nth-child(odd) {
    background-color: #001e30;
    color: white;
  }

  .tulajdonsagok th {
    /* display: flex;
    flex-direction: row; */
    text-align: left;
  }

.tulajdonsagok img {
    height: 15px;
    width: 15px;
    padding-right: 10px;
    margin-top: 6px;
}

html::-webkit-scrollbar {
    width: .8rem;
}
html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5rem;
}
@media (max-width:640px) {
    html{
        width: 100%;
    };
    table{
        padding: 10px;
        margin: auto;
        overflow-x:auto;
        width: 30%;
        border-radius: 10px;
    }
    
    th{
        border-top-left-radius: 10px;
    }
    
    td, th{
        border: 1px solid #001e30;
        text-align: center;
        padding: 5px;
    }
    
    th{
        background-color: #001e30;
        color: white;
    }
    
    td{
        color: white;
        font-size: 1rem;
    }
    
    table img {
        width: 50px;
        height: 30px;
    }
    tr:nth-child(odd) {
        background-color: #001e30;
        color: white;
      }
    
      .tulajdonsagok th {
        /* display: flex;
        flex-direction: row; */
        text-align: left;
      }
    
    .tulajdonsagok img {
        height: 15px;
        width: 15px;
        padding-right: 10px;
        margin-top: 6px;
    }
}
@media (max-width:700px) {
    html{
        width: 100%;
    };
    table{
        padding: 10px;
        margin: auto;
        overflow-x:auto;
        width: 50%;
        border-radius: 10px;
    }
    
    th{
        border-top-left-radius: 10px;
    }
    
    td, th{
        border: 1px solid #001e30;
        text-align: center;
        padding: 5px;
    }
    
    th{
        background-color: #001e30;
        color: white;
    }
    
    td{
        color: white;
        font-size: 0.8rem;
    }
    
    table img {
        width: 100px;
        height: 90px;
    }
    tr:nth-child(odd) {
        background-color: #001e30;
        color: white;
      }
    
      .tulajdonsagok th {
        /* display: flex;
        flex-direction: row; */
        text-align: left;
      }
    
    .tulajdonsagok img {
        height: 15px;
        width: 15px;
        padding-right: 10px;
        margin-top: 6px;
    }
    .gomboks{
        padding: 5px;
        margin: 30px;
        border: 1px #051923 solid;
        border-radius: 10px;
        background-color: #051923;
        font-weight: bold;
        color: white;
        text-decoration: none;
        cursor: pointer;
    }
}