html {
  overflow-x:hidden;
}
.grid-container {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
}
header  nav{
    background: #145b7f;
    
}
ul {
    display: flex;
    list-style: none;
    padding: 20px;
    margin: 20px;
}

li a {
    text-decoration: none;
    color: white;
    margin: 10px;
    font-size: 18px;
    font-weight: 600;
}

.kep {
    max-width:400px;
    width: 50%;
    margin-left: 125px;
    border: 10px solid black;
    border-radius: 10px;
}

.adat {
    font-weight: bold;
    color: white;
    margin-top: 25px;
    text-align: left;
    padding-left: 60px;
}
.adat p {
    font-size: 1.4rem;
}

.leiras{
    color: white;
    text-align: justify;
}
.leiras td {
    padding: 10px;
}
.leiras table {
    width: 80%;
    margin: auto;
}
.leiras th {
    padding: 6px;
}
.leiras tr:nth-child(odd)
{
    padding: 10px;
    background: #051923;  
}
.leiras tr:nth-child(even) {
    background-color: #D6EEEE;
    color: black;
    padding: 1px;
}
.leiras img {
    float: left;
    width: 30px;
    height: 20px;
    color: white;
    margin-left: 4px;
    color: white;
    padding-right: 10px;    
}
.leiras tr:hover {
    background: #006494;
}
.kosar{
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    margin: 10px;
    color: white;
    text-align: center;
    font-size: 36px;
}

.kosarba{
    padding: 10px;
    font-size: 24px;
    margin: 10px;
    color: white;
    background-color: #006494;
    border: none;
    border-radius: 10px;
}
.feliratkozas input {
    margin: auto;
    width: 400px;
    height: 30px;
}
.feliratkozas button {
    font-size: 1.1rem;
    padding: 4px;
}




@media(max-width: 574px) {
    .grid-container {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: auto;
    }
}

.Vissza {
  background: #051923;
  padding:10px;
  border-radius:6px;
}
/* #kategoria {
  margin-bottom:10px;
  border-bottom:2px solid white;
} */
.context {
    width: 100%;
    position: absolute;
    top:30vh;
    
  }
  
  .context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
  }
  
  
  .area{
    background: #051923;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:47vh;
   
  }
 
  .circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    overflow: hidden;
  }
  
  .circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 60px;
    /* background: rgba(255, 255, 255, 0.2); */
    background: #0582CA;
    animation: animate 25s linear infinite;
    bottom: -150px;
    
  }
  
  .circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
  }
  
  
  .circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
  }
  
  .circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
  }
  
  .circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
  }
  
  .circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
  }
  
  .circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
  }
  
  .circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
  }
  
  .circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
  }
  
  .circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
  }
  
  .circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
  }
  
  #main {
      margin-top:30px;
      
  }
  @keyframes animate {
  
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
  
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
  
  }