* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    overflow-x: hidden;
}
.borderStyle{
    border:2px solid black; 
    padding:10px; 
    background:#051923; 
    border-radius: 10px;
}
.borderStyle2{
    border:2px solid black; 
    border-radius:10px; 
    background:#051923; 
    padding: 10px;
    margin-top: -9px;
}
header {
    background: #145b7f;
    display: flex;
    justify-content: space-between;
    position: relative;    
   
}
nav ul {
    display: flex;
    list-style: none;
    padding: 20px;
}

li a {
    text-decoration: none;
    color: white;
    /* margin: 10px; */
    font-size: 18px;
    font-weight: 600;
    
}
nav a:hover{
    text-decoration: underline;
    font-size: 1.5rem;
    font-weight: 600;
}

.kosaricon {
    cursor: pointer;
    float: right;
    font-size: 25px;
    color: black;
    margin: 15px;
    background-color: #16a0e5;
    padding: 5px;
    display: block;
    border-radius: 10px;
}
.kosaricon p {
    padding: 5px;
    float: left;
}
/*ITEMS*/
.itemsBox {
    display: flex;
}
.item {
    margin: 5px;
}
a img {
    width: 100%;
    height: 100%;
}
h2 {
    margin-left: 10px;
}
/* p {
    font-size: 20px;
    text-align: right;
    font-weight: lighter;
} */

input {
    font-size: 0.8rem;
    width: 5vw;
    text-align: center;
}

.kosarhoz {
    cursor: pointer;
    font-size: 1.2rem;
    display: flex;
    /* text-align: left; */
    width: 160px;
    float: right;
    font-size: 2rem;
    background-color: #16a0e5;
    border-radius: 10px;
    padding: 1px;
}
.kosarhozElfogyott {
    font-size: 1.2rem;
    display: flex;
    /* text-align: left; */
    width: 160px;
    float: right;
    font-size: 2rem;
    background-color: #16a0e5;
    border-radius: 10px;
    padding: 1px;
}
.kosarhoz:hover {
    color: white;
}

.cartImage {
    width: 20%;
    height: 30px;
    margin-right: 3px;
}

.price {
    padding: 10px;
}
/*Kosár tartalmának formázása*/
.cartBox {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .5);
    transition: 0.3s    linear;
    transform: scale(0);
    
}
th {
    color: #051923;
    
}
td {
    padding: 50px;
    border-bottom: 1px solid black;
    text-align: center;
    color: white;
}
a {
    color: white;
}
.cartBox.active {
    transform: scale(1);
}
.cartBox .cart {
    position: relative;
    height: 70%;
    width: 80%;
    /* background: rgba(255, 255, 255, .9); */
    background-color: #145b7f;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.cartBox .cart i {
    position: absolute;
    top: 0;
    right: 0;
    background-color:#051923;
    padding: 15px;
    color: white;
    cursor: pointer;
}
.cartBox .cart i:hover {
    background-color: rgb(136, 0, 0);
}
.cartBox .cart h1 {
    position: relative;
    margin-top: 2%;
    font-size: 2.8rem;
}
tr, th {
    border: 2px solid black;
}
td a {
    padding: 20px;
}
table {
    width: 800px;
}

.cart {
    background-color: #145b7f;
}
.itemInfo{
    margin: 10px;

}
#quantity {
    padding: 8px;
    background-color: white;
    color: black;
    border-radius: 15px;
    font-size: 1.3rem;
}

.termekek {
    text-align: center;
}

.tableScrollBar::-webkit-scrollbar {
    background: #16a0e5;
    border-radius: 5px;     
  }
.tableScrollBar::-webkit-scrollbar-thumb {
    background: #051923;
    border-radius: 5px; 
  }



.fa-address-book{
    cursor: pointer;   
}




#custom-target {
    position: relative;
    width: 600px;
    
  }

.swal2-popup.swal2-toast .swal2-html-container {
    margin: 0.5em 1em;
    padding: 0;
    overflow: initial;
    font-size: 1.5rem !important;
    color: white;
}
.swal2-styled.swal2-confirm {
    border: 0 !important;
    border-radius: 0.25em !important;
    background: initial !important;
    background-color: #0a86d9 !important;
    color: #fff !important;
    margin: auto !important;

}
.swal2-toast {
    background: #051923 !important;
}

.udvozlo{
    background: #051923 !important;
    height: 10rem !important;  
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    color: white !important;
    
}

.udvozles{
    color: white !important;
}

.strikeThrough{
    text-decoration: line-through;
    font-size: 2rem;
}

.akcioIdoDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    width: 100%;
    height: 4rem;
    margin: auto;
    margin-bottom: 10px;
    background: #145b7f;
    color:red;
}

@media screen and (max-width:900px) {
    .akcioIdoDiv{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.4rem;
        width: 100%;
        height: 4rem;
        margin: auto;
        margin-bottom: 10px;
        background: #145b7f;
        color:red;
    }
}