* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align:center;
    color:white;
    margin:20px;
}



header {
    background: #145b7f;
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;  
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background: #051923;
}
nav{
    margin:auto;
}
nav ul {
    display: flex;
    list-style: none;
    padding: 20px;
}
li a {
    text-decoration: none;
    color: white;
    margin: 10px;
    font-size: 1.5rem;
    font-weight: 600;
}
table{
    padding: 10px;
    border-radius: 10px;
    margin: auto;
    width: 70%;
    overflow-x:auto;
}
th{
    border-top-left-radius: 10px;
    color: white;
}
td, th{
    text-align: center;
    padding: 5px;
    font-size: 1.4rem;
}

th{
    background: #003554;
    color: white;
    padding:10px;
}
td{
    color: white;
    padding:15px;
}

table img {
    width: 200px;
    height: 120px;
}
tr:nth-child(odd) {
    background-color: #003554;
    color: black;
  }
tr:nth-child(even) {
    background-color: #145b7f;
    color: black;
  }

a, button{
    padding: 4px;
    border: 1px #051923 solid;
    border-radius: 10px;
    background-color: #051923;
    font-weight: bold;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

table img {
    height: 6rem;
    width: 8rem;
}


html::-webkit-scrollbar {
    background: #16a0e5;
    border-radius: 5px;     
  }
html::-webkit-scrollbar-thumb {
    background: #003554;
    border-radius: 5px; 
}

@media screen and (max-width:640px) {
    .tableContainer {
        overflow: scroll;
    }
    table{
        position: sticky;
        top: 0;
        width: 100%;
        font-size: 1rem;
    }
    td{
        font-size: 0.6rem;
    }
    th{
        font-size: 0.6rem;
    }
    button{
        font-size: 0.7rem;
    }
    h1{
        font-size: 1.3rem;
    }
    nav a{
        font-size: 1.3rem;
    }
}



form{
    text-align: center;
    
}
select{
    min-width: 400px;
    text-align: center;
    font-size: 1.3rem;
    background: #003554;
    color: white;
    border: 2px solid white;
}
option{
    text-align: center;
    border: 2px solid white;
}