table{
    padding: 10px;
    margin: auto;
    overflow-x:auto;
    width: 80%;
    border-radius: 10px;
}

th{
    border-top-left-radius: 10px;
}

td, th{
    border: 1px solid #001e30;
    text-align: center;
    padding: 5px;
}

th{
    background-color: #001e30;
    color: white;
}

td{
    color: white;
}

table img {
    width: 200px;
    height: 120px;
}
tr:nth-child(odd) {
    background-color: #001e30;
    color: white;
  }

  .tulajdonsagok th {
    /* display: flex;
    flex-direction: row; */
    text-align: left;
  }

.tulajdonsagok img {
    height: 15px;
    width: 15px;
    padding-right: 10px;
    margin-top: 6px;
}

html::-webkit-scrollbar {
    width: .8rem;
}


html::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5rem;
}

html::-webkit-scrollbar-thumb {
    background: #003554;
}

html::-webkit-scrollbar-track {
    background: #16a0e5;
}

@media (max-width:640px) {
   html{
    width: 100%;
   }
   h1{
    font-size: 2rem;
   }
   #kategoria{
    margin: 30px auto;
    font-size: 2rem;
    
   }
    .tableContainer {
        overflow: scroll;
    }
    table {
        position: sticky;
        top: 0;
        width: 100%;
    }
    .muveletek a{
        padding: 8px;
        font-size: 0.8rem;
        display: flex;
        margin: 5px;
        justify-content: center;
        align-items: center;
    }
    .tableAr{
        width: 600px;
    }
    th{
        border-top-left-radius: 10px;
    }
    
    td, th{
        border: 1px solid #001e30;
        text-align: center;
        padding: 5px;
    }
    
    th{
        background-color: #001e30;
        color: white;
    }
    
    td{
        color: white;
        font-size: 1rem;
    }
    
    table img {
        width: 50px;
        height: 30px;
    }
    tr:nth-child(odd) {
        background-color: #001e30;
        color: white;
      }
    
      .tulajdonsagok th {
        /* display: flex;
        flex-direction: row; */
        text-align: left;
      }
    
    .tulajdonsagok img {
        height: 15px;
        width: 15px;
        padding-right: 10px;
        margin-top: 6px;
    }
    .area{
        background: #051923;  
        background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
        width: 100%;
        height:35vh;
      }
      p{
        font-size: small;
      }
      .context {
        width: 100%;
        position: absolute;
        top:40vh;
        
      }
      .circles{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 70vw;
        overflow: hidden;
      }
      .circles li{
        position: absolute;
        display: block;
        list-style: none;
        width: 20px;
        height: 20px;
        /* background: rgba(255, 255, 255, 0.2); */
        background: #0582CA;
        animation: animate 25s linear infinite;
        bottom: -150px;
        
      }
      #search_text{
        width: 24rem;
      }
      .input-div{
        margin: auto;
        display: flex;
        justify-content: center;
      }
      .icon-arrow-up{
        display: none;
      }
      #return-to-top{
        display: none;
        background: none;
      }
     
      a{
        margin: 15px;
        display: flex;
        justify-content: center;
      }
      .visszaOldal{
        margin:0;
      }
}
@media (min-width:1200px) {
    html{
        width: 100%;
    };
    table{
        padding: 10px;
        margin: auto;
        overflow-x:auto;
        width: 50%;
        border-radius: 10px;
    }
    
    th{
        border-top-left-radius: 10px;
    }
    
    td, th{
        border: 1px solid #001e30;
        text-align: center;
        padding: 5px;
    }
    
    th{
        background-color: #001e30;
        color: white;
    }
    
    td{
        color: white;
        font-size: 0.8rem;
    }
    
    table img {
        width: 100px;
        height: 90px;
    }
    tr:nth-child(odd) {
        background-color: #001e30;
        color: white;
      }
    
      .tulajdonsagok th {
        /* display: flex;
        flex-direction: row; */
        text-align: left;
      }
    
    .tulajdonsagok img {
        height: 15px;
        width: 15px;
        padding-right: 10px;
        margin-top: 6px;
    }
    .gomboks{
        padding: 5px;
        margin: 30px;
        border: 1px #051923 solid;
        border-radius: 10px;
        background-color: #051923;
        font-weight: bold;
        color: white;
        text-decoration: none;
        cursor: pointer;
    }
    .muveletek a {
      padding: 8px;
      font-size: 0.8rem;
      display: flex;
      margin: 5px;
      justify-content: center;
      align-items: center;
  }
}