/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flexbox-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-clip: border-box;
}*/




.grid-container {
    width: 100%;
    max-width: 1050px;
    height: 1700px;
    margin: auto;
    display: grid;
    grid-template-areas:
    "oszlop1 oszlop1 oszlop1"
    "oszlop2 oszlop3 oszlop3" 
    "oszlop4 oszlop4 oszlop5" 
    "oszlop6 oszlop7 oszlop7"
    "oszlop8 oszlop8 oszlop9"
    ;
    gap: 10px;
}

.oszlop1{
    grid-area: oszlop1;
    border-radius: 20px;
    width: 60%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
}
.oszlop2{
    grid-area: oszlop2;
    border-radius: 20px;
    width: 60%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
}
.oszlop3{
    grid-area: oszlop3;
    border-radius: 20px;
    width: 60%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
}
.oszlop4{
    grid-area: oszlop4;
    border-radius: 20px;
    width: 60%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
}
.oszlop5{
    grid-area: oszlop5;
    border-radius: 20px;
    width: 60%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
}
.oszlop6{
    grid-area: oszlop6;
    border-radius: 20px;
    width: 60%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
}
.oszlop7{
    grid-area: oszlop7;
    border-radius: 20px;
    width: 60%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
}
.oszlop8{
    grid-area: oszlop8;
    border-radius: 20px;
    width: 60%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
}
.oszlop9{
    grid-area: oszlop9;
    border-radius: 20px;
    width: 60%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
}


.adat {
    font-weight: bold;
    color: white;
}

.leiras{
    color: white;
    text-align: justify;
}
.kosar{
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    margin: 10px;
    color: white;
    text-align: center;
    font-size: 36px;
}

.kosarba{
    padding: 10px;
    font-size: 24px;
    margin: 10px;
    color: white;
    background-color: #006494;
    border: none;
    border-radius: 10px;
}




/* @media(max-width: 574px) {
    .grid-container {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: auto;
    }
} */

@media screen and (max-width: 630px) {
    .grid-container{
        width: 100%;
        padding: 35px;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-areas:
        "oszlop1"
        "oszlop2"
        "oszlop3"
        "oszlop4"
        "oszlop5"
        "oszlop6"
        "oszlop7"
        "oszlop8"
        "oszlop9";
        
    }
    
    .grid-container .oszlop1{
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .grid-container .oszlop2{
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .grid-container .oszlop3{
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .grid-container .oszlop4{
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .grid-container .oszlop5{
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .grid-container .oszlop6{
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
       
    }
    .grid-container .oszlop7{
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .grid-container .oszlop8{
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .grid-container .oszlop9{
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .grid-container .hover-img{
        width: 100%;
        margin: auto;
       
    }
}




